# Challenge 3

In this challenge we will work on the `Orders.csv` data set in the previous [Subsetting and Descriptive Stats lab](../../lab-subsetting-and-descriptive-stats/your-code/main.ipynb). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

# Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders.csv` from the "subsetting" lab folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
# enter your code here
orders = pd.read_csv("C:/Users/raian/Documents/IronHack/ironhackdata-raiana/data-labs/module-2/lab-subsetting-and-descriptive-stats/Orders.csv")
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [4]:
orders["Label"]=None
customers = orders.groupby("CustomerID")
sums = customers["amount_spent"].sum()

vip = sums.quantile(.95) 
preferred = sums.quantile(.75)

In [7]:
vips = list(sums.loc[sums>vip].index)
prefer = list(sums.loc[(sums>preferred) & (sums< vip)].index)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [9]:
for v in vips:
    orders.loc[orders["CustomerID"]==v,"Label"]="VIP"

In [15]:
for p in prefer:
    orders.loc[orders["CustomerID"]==p,"Label"]="Preferred"

In [18]:
orders["Label"].value_counts(None)

Preferred    151781
VIP          104484
Name: Label, dtype: int64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397924 entries, 0 to 397923
Data columns (total 15 columns):
Unnamed: 0      397924 non-null int64
InvoiceNo       397924 non-null int64
StockCode       397924 non-null object
year            397924 non-null int64
month           397924 non-null int64
day             397924 non-null int64
hour            397924 non-null int64
Description     397924 non-null object
Quantity        397924 non-null int64
InvoiceDate     397924 non-null object
UnitPrice       397924 non-null float64
CustomerID      397924 non-null int64
Country         397924 non-null object
amount_spent    397924 non-null float64
Label           256265 non-null object
dtypes: float64(2), int64(8), object(5)
memory usage: 45.5+ MB

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

# Q2: How to identify which country has the most VIP Customers?

# Q3: How to identify which country has the most VIP+Preferred Customers combined?

Provide your solution for Q2 below:

In [24]:
country = orders.groupby("Country")

In [25]:
countries = set(orders["Country"])

In [42]:
for c in countries:
    dfcountry = country.get_group(c)
    dfcountry.drop_duplicates("CustomerID",inplace=True)
    print(c)
    print (dfcountry["Label"].value_counts())

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

Germany
Preferred    29
VIP          10
Name: Label, dtype: int64
Iceland
Preferred    1
Name: Label, dtype: int64
Saudi Arabia
Series([], Name: Label, dtype: int64)
United Kingdom
Preferred    755
VIP          177
Name: Label, dtype: int64
Brazil
Series([], Name: Label, dtype: int64)
Australia
VIP          2
Preferred    2
Name: Label, dtype: int64
United Arab Emirates
Series([], Name: Label, dtype: int64)
Unspecified
Series([], Name: Label, dtype: int64)
Portugal
Preferred    5
VIP          2
Name: Label, dtype: int64
USA
Series([], Name: Label, dtype: int64)
Malta
Preferred    1
Name: Label, dtype: int64
Denmark
Preferred    2
VIP          1
Name: Label, dtype: int64
Spain
Preferred    7
VIP          2
Name: Label, dtype: int64
Canada
Preferred    1
Name: Label, dtype: int64
European Community
Series([], Name: Label, dtype: int64)
Finland
Preferred    4
VIP          1
Name: Label, dtype: int64
Lithuania
Series([], Name: Label, dtype: int64)
Sweden
VIP          1
Preferred    1
Name: Label, dtype: int64
Czech Republic
Series([], Name: Label, dtype: int64)
Singapore
VIP    1
Name: Label, dtype: int64
Cyprus
Preferred    3
VIP          1
Name: Label, dtype: int64
RSA
Series([], Name: Label, dtype: int64)
Japan
VIP          2
Preferred    2
Name: Label, dtype: int64
Poland
Preferred    1
Name: Label, dtype: int64
Switzerland
Preferred    6
VIP          3
Name: Label, dtype: int64
Norway
Preferred    6
VIP          1
Name: Label, dtype: int64
Lebanon
Preferred    1
Name: Label, dtype: int64
Netherlands
VIP    1
Name: Label, dtype: int64
France
Preferred    20
VIP           9
Name: Label, dtype: int64
Bahrain
Series([], Name: Label, dtype: int64)
Israel
Preferred    2
Name: Label, dtype: int64
EIRE
VIP          2
Preferred    1
Name: Label, dtype: int64
Belgium
Preferred    11
VIP           1
Name: Label, dtype: int64
Channel Islands
Preferred    3
VIP          1
Name: Label, dtype: int64
Austria
Preferred    3
Name: Label, dtype: int64
Italy
Preferred    5
Name: Label, dtype: int64
Greece
Preferred    1
Name: Label, dtype: int64

In [34]:
# your code here
print(orders["Country"][orders["Label"]=="VIP"].max())

United Kingdom

In [43]:
print(orders["Country"][(orders["Label"]=="VIP") + (orders["Label"]=="Preferred")].max())

United Kingdom

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\computation\expressions.py:180: UserWarning: evaluating in Python space because the '+' operator is not supported by numexpr for the bool dtype, use '|' instead
  .format(op=op_str, alt_op=unsupported[op_str]))