# Challenge 1

In this challenge you will be working on **pokemons**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](pokemon.jpg)

Follow the instructions below and enter your code.

### Import all required libraries

In [34]:
# import libraries
import pandas as pd
import numpy as np

### Import data set

Import data set `Pokemon.csv` from the `your-code` directory of this lab. Read the data into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [35]:
# import data set
pokemon = pd.read_csv("Pokemon.csv")

### Print first 10 rows of `pokemon`

In [7]:
# enter your code here
print(pokemon.iloc[1:11,:])

    #                       Name Type 1  Type 2  Total  HP  Attack  Defense  \
1   2                    Ivysaur  Grass  Poison    405  60      62       63
2   3                   Venusaur  Grass  Poison    525  80      82       83
3   3      VenusaurMega Venusaur  Grass  Poison    625  80     100      123
4   4                 Charmander   Fire     NaN    309  39      52       43
5   5                 Charmeleon   Fire     NaN    405  58      64       58
6   6                  Charizard   Fire  Flying    534  78      84       78
7   6  CharizardMega Charizard X   Fire  Dragon    634  78     130      111
8   6  CharizardMega Charizard Y   Fire  Flying    634  78     104       78
9   7                   Squirtle  Water     NaN    314  44      48       65
10  8                  Wartortle  Water     NaN    405  59      63       80

    Sp. Atk  Sp. Def  Speed  Generation  Legendary
1        80       80     60           1      False
2       100      100     80           1      False
3       122      120     80           1      False
4        60       50     65           1      False
5        80       65     80           1      False
6       109       85    100           1      False
7       130       85    100           1      False
8       159      115    100           1      False
9        50       64     43           1      False
10       65       80     58           1      False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

### Obtain the distinct values across `Type 1` and `Type 2`

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [18]:
# enter your code here
types = list(set(pokemon["Type 1"])|set(pokemon["Type 2"]))
types

[nan,
 'Poison',
 'Water',
 'Ghost',
 'Grass',
 'Ground',
 'Normal',
 'Flying',
 'Electric',
 'Psychic',
 'Fairy',
 'Fire',
 'Dragon',
 'Rock',
 'Dark',
 'Ice',
 'Bug',
 'Steel',
 'Fighting']

### Cleanup `Name` that contain "Mega"

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [49]:
# enter your code here
import re
pokemon['CleanName'] = str("Mega") + pokemon['Name'].str.split(r'Mega').str.get(1)

pokemon.loc[pokemon["Name"].str.contains("Mega"), "Name"] = pokemon["CleanName"]
pokemon = pokemon.drop(["CleanName"],axis=1)

# test transformed data

  
pokemon.head(11)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,Mega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,Mega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False

### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [63]:
# enter your code here
pokemon['A/D Ratio'] = (pokemon["Attack"]/pokemon["Defense"])

### Identify the pokemon with the highest `A/D Ratio`

In [64]:
# enter your code here
pokemon["A/D Ratio"].max()

9.0

### Identify the pokemon with the lowest A/D Ratio

In [65]:
# enter your code here
pokemon["A/D Ratio"].min()

0.043478260869565216

### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [66]:
# enter your code here
pokemon["Combo Type"] = pokemon["Type 1"] + pokemon["Type 2"]

### Identify the pokemons whose `A/D Ratio` are among the top 5

In [67]:
# enter your code here
pokemon.nlargest(5, "A/D Ratio", keep='first')

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.000,NaN
347,318,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False,4.500,WaterDark
19,15,Mega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,3.750,BugPoison
453,408,Cranidos,Rock,NaN,350,67,125,40,30,30,58,4,False,3.125,NaN
348,319,Sharpedo,Water,Dark,460,70,120,40,95,40,95,3,False,3.000,WaterDark

### For the 5 pokemons printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemons with the highest `A/D Ratio`.

In [78]:
# enter your code here
pokes = pokemon.nlargest(5, "A/D Ratio", keep='first')
ctlist = list(pokes["Combo Type"])
ctlist = [x for x in ctlist if str(x)!="nan"]
ctlist

['WaterDark', 'BugPoison', 'WaterDark']

### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemons.

Your output should look like below:

![Aggregate](aggregated-mean.png)

In [93]:
# enter your code here
pgroups = pokemon.groupby("Combo Type")
pd.concat([pgroups.get_group(g).mean() for g in ctlist])

KeyError: 'Column not found: Rock'

In [94]:
pgroups = pokemon.groupby("Combo Type")

In [113]:
pgroups.mean().T[ctlist].T

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
Combo Type,,,,,,,,,,,
WaterDark,347.666667,493.833333,69.166667,120.000000,65.166667,88.833333,63.500000,87.166667,3.166667,0.0,2.291949
BugPoison,199.166667,347.916667,53.750000,68.333333,58.083333,42.500000,59.333333,65.916667,2.333333,0.0,1.315989
WaterDark,347.666667,493.833333,69.166667,120.000000,65.166667,88.833333,63.500000,87.166667,3.166667,0.0,2.291949

In [111]:
pgroups.mean().loc[]

KeyError: "None of [[['WaterDark', 'BugPoison', 'WaterDark']]] are in the [index]"